{% extends "login_signup_layout.html" %}

{% block content %}
    <main class="form-signin">

        <form method="post">
            {% csrf_token %}
            <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating">
                <input type="text" name="username" class="form-control" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
               
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" autofocus="" autocapitalize="none" >
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        </form>
    </main>
 </body>
 </html>
 {% endblock %}